fieldset {
    border: 0;
}

form {
    padding: 8px 0 8px 5px;
}

a.tab-button {
    color: #222;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 10px;
    font-weight: 900;
    height: 100%;
    line-height: 33px;
    text-align: center;
    text-decoration: none;
    min-width: 50px;
    /* border-right: 1px solid #ccc;*/
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    background: none repeat scroll 0 0 #EEE;
    text-shadow: 0 1px 1px #ffffff;
}

a.tab-active {
    color: #222;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 10px;
    font-weight: 900;
    height: 100%;
    line-height: 33px;
    text-align: center;
    text-decoration: none;
    min-width: 50px;
    background: none repeat scroll 0 0 #fff;
    border-right: 1px solid #ccc;

    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    text-shadow: 0 1px 1px #ffffff;
}

a.tab-disable {
    color: #D1CFCF;
    cursor: default;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: 900;
    height: 100%;
    line-height: 33px;
    text-align: center;
    text-decoration: none;
    min-width: 50px;
    background: none repeat scroll 0 0 #DDD;
    border-right: 1px solid #575555;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
}

a.tab-button:hover {
    background: none repeat scroll 0 0 #FFF;
    text-shadow: 0 1px 1px #ffffff;
}

#filterOptions {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ccc;
    padding-top: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #222;
    background-color: #F1F1F1;
}

#deviceTypeFilter {
    width: 200px;
    float: left;
    margin: 0 10px;
    height: 30px;
}

.ipFilter {
    float: left;
    margin: 0 10px;
    font-size: 10px;
}

.splitter {

    text-align: center;

    font-size: 12px;
    float: right;
    width: 800px;
    padding: 0;
}

.splitter:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.splitter ul {
    margin-right: 0;
    margin-top: 0;
}

.splitter > li {
    padding-left: 8px;
}

.splitter > li ul {
    margin-left: 8px;
    padding: 0;
    height: 50px;
}

.splitter ul li a {
    border-bottom: 0;
    position: static;
}

.splitter li,
.splitter ul,
.splitter ul li a {
    display: inline;
    line-height: 1;
}

.splitter ul,
.splitter ul li,
.splitter ul li a {
    background-image: url("img/buttons.png");
    background-repeat: no-repeat;
}

.splitter ul {
    background-position: 0 -138px;
    background-repeat: repeat-x;
    width: 420px;
}

.splitter ul li {
    margin-left: 1px;
}

.splitter ul li:first-child {
    margin-left: 0;
}

.splitter ul li a {

    color: #070708;
    text-shadow: rgba(255, 255, 255, 0.1) 0 1px 0;
    text-decoration: none;
}

.splitter ul li.segment-0,
.splitter ul li.segment-2 {
    background-position: -3px -92px;
}

.splitter ul li.segment-1 {
    background-position: 0 -92px;
}

.splitter ul li.segment-0 a,
.splitter ul li.segment-1 a {
    background-position: 0 -161px;
}

.splitter ul li.segment-2 a {
    background-position: 100% -115px;
}

.splitter ul li.selected-0 a,
.splitter ul li.selected-1 a,
.splitter ul li.selected-2 a {
    color: #111111;
    background: #fff text-shadow : rgba ( 0, 0, 0, 0.25 ) 0 1 px 0;
}

.splitter ul li.selected-0,
.splitter ul li.selected-2 {
    background-position: 0 -23px;
}

.splitter ul li.selected-0 a,
.splitter ul li.selected-1 a {
    background-position: 100% -46px;
}

.splitter ul li.selected-1 {
    background-position: 0 0;
}

.splitter ul li.selected-2 a {
    background-position: 100% -69px;
}

div.box-loading {
    background-color: #FFFFFF;
    bottom: 0;
    direction: ltr;
    display: none;
    left: 0;
    opacity: 0.7;
    position: absolute;
    text-align: center;
    z-index: 1111;
}

div.box-loading img {
    height: 65%;
    width: 65%;
    border: 0px none;
    margin: 15%;
}

div.box-result {
    background-color: #FFFFFF;
    top: 0;
    direction: ltr;
    display: none;
    left: 0;
    position: absolute;
    z-index: 10;
}

#columns {
    width: 100%;
}

.column {
    float: left;
    margin: 5px;
    padding: 0
}

.column li {
    background: #888;
    -moz-border-radius: 1px;
    margin: 20px 0 0 20px;
    padding: 1px;
    float: left;
    list-style: none;
    position: relative;
    width: 383px;
}

.widget-head {
    background: -moz-linear-gradient(10% 90% 90deg, #6A6868, #888686) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, center bottom, center top, from(#6a6868), to(#888686));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888686', endColorstr='#6a6868');
    color: #FFFFFF;
    text-shadow: 0 1px 1px #000000;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    width: 100%;
}

.widget-content {
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 2px;
    background: none repeat scroll 0 0 #FFFFFF;
    color: #111111;
    line-height: 1.2em;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 4px;
    height: 350px;
    position: relative;
    width: 375px;
}

.widget-head h3 {
    margin-right: 10px;
    float: right;
    font-size: 13px;
}

div.rowElem {
    margin: 15px 0;
    padding-left: 10px;
    width: 430px;
    overflow: hidden;
}

input[type=text], input[type=password], textarea {
    width: 175px;;
}

select {
    width: 185px;
}

/*.lbl{ width:120px; font-size:11px; text-align:left; margin-right:15px; color:#333; font-weight:bold; display:block; float:left;height:30px}
input[type=button],input[type=submit]{ font-size:11px;}*/
.filterBtn {
    font-size: 11px;
    cursor: pointer
}

.img-submit-button {
    background-color: #FFFFFF;
    background-image: url("../images/alert_restart.png");
    background-repeat: no-repeat;
    border: 0 none;
    cursor: pointer;
    height: 25px;
    width: 16px;
}

.img-done-button {
    background-color: #FFFFFF;
    background-image: url("../images/done.png");
    background-repeat: no-repeat;
    border: 0 none;
    cursor: pointer;
    height: 15px;
    width: 16px;
}

td.loadingimage {
    position: relative !important;
}

.img-loader {
    background-color: #EEE;
    background-image: url("../images/24-0.gif");
    background-repeat: no-repeat;
    border: 0 none;
    cursor: pointer;
    width: 24px !important;
    height: 24px !important;
    margin-right: 20px;
    padding: 0 !important;
    vertical-align: middle;
}

.inactive-linkclass {
    color: #BBB;
}

/* add by anuj */
/* For odulisitng */
.listing-color {
    background-color: #E6DAAE;
}

.img-listing {
}

fieldset {
    border: 1px solid #AAAAAA;
    margin: 10px;
}
